{% extends "templateMaster.twig" %}

{% block content %}
  <h1>Dashboard</h1>
  <ul>
    <li><a href="/add/user">Add User</a></li>
    <li><a href="/add/job">Add Job</a></li>
  </ul>
  <br><br>
  {# <a href="/cursophp/logout">Logout</a> #}
  <a href="/logout">Logout</a>
{% endblock %}
