{% extends "templateMaster.twig" %}

{% block content %}
  <h1>Dashboard</h1>
  <ul>
    <li><a href="/cursophp/add/user">Add User</li>
    <li><a href="/cursophp/add/job">Add Job</li>
  </ul>
{% endblock %}
